In [1]:
import matplotlib.dates as mdates
import matplotlib.pyplot as plt
import numpy as np
import os
import pandas as pd
import phik
import seaborn as sns

from sklearn.preprocessing import OneHotEncoder

In [2]:
# train_df = pd.read_csv('hackathon_income_train.csv', decimal=',', sep=';')
# train_df.head

In [3]:
df = pd.read_csv('hackathon_income_train.csv', decimal=',', sep=';')

C:\Users\37337\AppData\Local\Temp\ipykernel_31304\2662550308.py:1: DtypeWarning: Columns (66) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('hackathon_income_train.csv', decimal=',', sep=';')

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 76786 entries, 0 to 76785
Columns: 224 entries, id to first_salary_income
dtypes: float64(182), int64(1), object(41)
memory usage: 131.2+ MB

In [5]:
# # 1. Basic Categorical Feature Analysis
# def categorical_analysis(df, categorical_columns):
#     """
#     Perform comprehensive analysis of categorical features
#     """
#     print("=" * 50)
#     print("CATEGORICAL FEATURE ANALYSIS")
#     print("=" * 50)
    
#     for col in categorical_columns:
#         print(f"\n--- Analysis for '{col}' ---")
#         print(f"Number of unique values: {df[col].nunique()}")
#         print(f"Most frequent value: {df[col].mode().iloc[0]}")
#         print(f"Missing values: {df[col].isnull().sum()}")
        
#         # Value counts and percentages
#         value_counts = df[col].value_counts()
#         percentages = df[col].value_counts(normalize=True) * 100
        
#         value_df = pd.DataFrame({
#             'Count': value_counts,
#             'Percentage': percentages
#         })
#         print(f"\nValue Distribution:")
#         print(value_df)
        

# # Identify categorical columns
# categorical_columns = df.select_dtypes(include=['object']).columns.tolist()
# print("Categorical columns:", categorical_columns)

# # Perform categorical analysis
# categorical_analysis(df, categorical_columns)

In [6]:
# def identify_categorical_features(df, unique_threshold=100):
#     """
#     Определяет категориальные признаки в датафрейме
    
#     Parameters:
#     df - pandas DataFrame
#     unique_threshold - максимальное количество уникальных значений для числовых категориальных признаков
#     """
    
#     categorical_features = {
#         'object_type': [],
#         'category_type': [],
#         'bool_type': [],
#         'numeric_categorical': []
#     }
    
#     for column in df.columns:
#         # Тип object (строки)
#         if df[column].dtype == 'object':
#             categorical_features['object_type'].append(column)
        
#         # Тип category
#         elif df[column].dtype.name == 'category':
#             categorical_features['category_type'].append(column)
        
#         # Булевы значения
#         elif df[column].dtype == 'bool':
#             categorical_features['bool_type'].append(column)
        
#         # Числовые признаки с малым количеством уникальных значений
#         elif df[column].dtype in ['int64', 'float64']:
#             unique_count = df[column].nunique()
#             if unique_count <= unique_threshold:
#                 categorical_features['numeric_categorical'].append((column, unique_count))
    
#     return categorical_features

# def analyze_categorical_features(df, categorical_features):
#     """Анализ категориальных признаков"""
    
#     print("АНАЛИЗ КАТЕГОРИАЛЬНЫХ ПРИЗНАКОВ:")
#     print("-" * 40)
    
#     for feature_type, features in categorical_features.items():
#         if features:
#             print(f"\n{feature_type.upper()}:")
#             for feature in features:
#                 if isinstance(feature, tuple):  # для numeric_categorical
#                     col_name, unique_count = feature
#                     print(f"  {col_name}: {unique_count} уникальных значений")
#                     print(f"    Значения: {sorted(df[col_name].unique())}")
#                 else:
#                     col_name = feature
#                     unique_count = df[col_name].nunique()
#                     print(f"  {col_name}: {unique_count} уникальных значений")
#                     print(f"    Значения: {list(df[col_name].unique())}")
#                     print(f"    Пропуски: {df[col_name].isnull().sum()}")

# # Определяем категориальные признаки
# categorical_features = identify_categorical_features(df)
# analyze_categorical_features(df, categorical_features)

In [7]:
# def detect_categorical_features(df, unique_threshold=10, exclude_columns=None):
#     """
#     Automatically detect categorical features
    
#     Parameters:
#     - unique_threshold: Maximum number of unique values to consider as categorical
#     - exclude_columns: Columns to exclude from detection
#     """
#     if exclude_columns is None:
#         exclude_columns = []
    
#     categorical_features = []
    
#     for column in df.columns:
#         if column in exclude_columns:
#             continue
            
#         # Check if object type or low cardinality
#         if (df[column].dtype == 'object' or 
#             df[column].dtype.name == 'category' or
#             (df[column].nunique() <= unique_threshold and 
#              pd.api.types.is_numeric_dtype(df[column]))):
#             categorical_features.append(column)
    
#     return categorical_features

# # Usage
# categorical_cols = detect_categorical_features(df, unique_threshold=5)
# print("Detected categorical features:", categorical_cols)

In [8]:
def classify_columns(df):
    """Classify columns as categorical or numerical"""
    print("=== COLUMN CLASSIFICATION ===")
    
    categorical_cols = []
    numerical_cols = []
    datetime_cols = []
    boolean_cols = []
    other_cols = []
    
    for column in df.columns:
        dtype = df[column].dtype
        
        # Check for categorical
        if dtype == 'object' or dtype.name == 'category':
            categorical_cols.append(column)
        # Check for numerical
        elif np.issubdtype(dtype, np.number):
            numerical_cols.append(column)
        # Check for datetime
        elif np.issubdtype(dtype, np.datetime64):
            datetime_cols.append(column)
        # Check for boolean
        elif dtype == 'bool':
            boolean_cols.append(column)
        else:
            other_cols.append(column)
    
    # Print classification results
    print(f"Categorical Columns ({len(categorical_cols)}): {categorical_cols}")
    print(f"Numerical Columns ({len(numerical_cols)}): {numerical_cols}")
    print(f"Datetime Columns ({len(datetime_cols)}): {datetime_cols}")
    print(f"Boolean Columns ({len(boolean_cols)}): {boolean_cols}")
    print(f"Other Columns ({len(other_cols)}): {other_cols}")
    
    return {
        'categorical': categorical_cols,
        'numerical': numerical_cols,
        'datetime': datetime_cols,
        'boolean': boolean_cols,
        'other': other_cols
    }

# Classify columns
column_types = classify_columns(df)
print("\n" + "="*50)

=== COLUMN CLASSIFICATION ===
Categorical Columns (41): ['dt', 'hdb_bki_total_max_limit', 'hdb_bki_total_cc_max_limit', 'gender', 'adminarea', 'hdb_bki_total_pil_max_limit', 'hdb_bki_active_cc_max_limit', 'city_smart_name', 'hdb_bki_other_active_pil_outstanding', 'dp_ewb_last_employment_position', 'hdb_bki_total_products', 'hdb_bki_total_max_overdue_sum', 'addrref', 'bki_total_auto_cnt', 'dp_address_unique_regions', 'hdb_bki_total_ip_max_limit', 'hdb_bki_total_cnt', 'bki_total_oth_cnt', 'bki_total_ip_max_outstand', 'hdb_bki_total_ip_cnt', 'hdb_bki_active_cc_max_outstand', 'hdb_bki_total_pil_max_overdue', 'bki_total_il_max_limit', 'bki_total_products', 'bki_active_auto_cnt', 'bki_total_max_limit', 'hdb_bki_total_auto_max_limit', 'hdb_bki_total_micro_max_overdue', 'bki_total_active_products', 'hdb_bki_total_active_products', 'hdb_bki_total_micro_cnt', 'hdb_bki_active_pil_cnt', 'period_last_act_ad', 'hdb_bki_total_cc_max_overdue', 'hdb_bki_total_pil_last_days', 'hdb_bki_active_pil_max_limit', 'hdb_bki_total_pil_cnt', 'hdb_bki_total_pil_max_del90', 'hdb_bki_last_product_days', 'hdb_bki_other_active_ip_outstanding', 'hdb_bki_active_cc_max_overdue']
Numerical Columns (183): ['id', 'target', 'turn_cur_cr_avg_act_v2', 'salary_6to12m_avg', 'dp_ils_paymentssum_avg_12m', 'incomeValue', 'avg_cur_cr_turn', 'turn_cur_cr_avg_v2', 'turn_cur_cr_max_v2', 'age', 'dp_ils_avg_salary_1y', 'turn_cur_cr_sum_v2', 'by_category__amount__sum__eoperation_type_name__ishodjaschij_bystryj_platezh_sbp', 'turn_cur_db_sum_v2', 'turn_cur_db_avg_act_v2', 'dp_ils_avg_salary_2y', 'curr_rur_amt_cm_avg', 'turn_cur_db_avg_v2', 'by_category__amount__sum__eoperation_type_name__vhodjaschij_bystryj_platezh_sbp', 'dp_ils_paymentssum_avg_6m', 'avg_cur_db_turn', 'incomeValueCategory', 'avg_by_category__amount__sum__cashflowcategory_name__vydacha_nalichnyh_v_bankomate', 'avg_credit_turn_rur', 'dp_ils_salary_ratio_1y3y', 'by_category__amount__sum__eoperation_type_name__perevod_po_nomeru_telefona', 'turn_cur_cr_7avg_avg_v2', 'dp_ils_accpayment_avg_12m', 'curbal_usd_amt_cm_avg', 'avg_by_category__amount__sum__cashflowcategory_name__supermarkety', 'avg_loan_cnt_with_insurance', 'avg_by_category__amount__sum__cashflowcategory_name__gipermarkety', 'uniV5', 'turn_cur_db_max_v2', 'avg_by_category__amount__sum__cashflowcategory_name__kafe', 'turn_other_db_max_v2', 'turn_cur_cr_min_v2', 'turn_cur_db_min_v2', 'per_capita_income_rur_amt', 'avg_debet_turn_rur', 'hdb_relend_active_max_psk', 'dda_rur_amt_curr_v2', 'mob_cnt_days', 'dp_ils_days_from_last_doc', 'avg_6m_money_transactions', 'transaction_category_supermarket_percent_cnt_2m', 'pil', 'avg_6m_clothing', 'avg_by_category__amount__sum__cashflowcategory_name__elektronnye_dengi', 'dp_payoutincomedata_payout_avg_3_month', 'hdb_outstand_sum', 'avg_3m_money_transactions', 'min_balance_rur_amt_6m_af', 'transaction_category_supermarket_sum_cnt_m3_4', 'dp_payoutincomedata_payout_max_3_month', 'blacklist_flag', 'dp_payoutincomedata_payout_sum_3_month', 'hdb_relend_outstand_sum', 'total_rur_amt_cm_avg', 'mob_cover_days', 'dp_payoutincomedata_payout_max_6_month', 'label_Below_50k_share_r1', 'turn_fdep_db_sum_v2', 'dp_ils_accpayment_avg_6m_current', 'transaction_category_cash_percent_amt_2m', 'curr_rur_amt_3m_avg', 'transaction_category_restaurants_sum_amt_m2', 'loan_cnt', 'turn_fdep_db_avg_v2', 'turn_cur_db_7avg_avg_v2', 'amount_by_category_90d__summarur_amt__sum__cashflowcategory_name__vydacha_nalichnyh_v_bankomate', 'profit_income_out_rur_amt_12m', 'avg_6m_hotels', 'hdb_ovrd_sum', 'dp_ils_total_seniority', 'dp_ils_paymentssum_avg_6m_current', 'smsInWavg6m', 'avg_fdep_db_turn', 'device_iphone_avg', 'by_category__amount__sum__eoperation_type_name__platezh_za_mobilnyj_cherez_ps', 'avg_balance_rur_amt_1m_af', 'curr_rur_amt_cm_avg_period_days_ago_v2', 'avg_by_category__amount__sum__cashflowcategory_name__oteli', 'hdb_other_outstand_sum', 'days_to_last_transaction', 'vert_pil_last_credit_step_screen_view_3m', 'acard', 'other_credits_count', 'tz_msk_timedelta', 'turn_save_db_min_v2', 'profit_income_out_rur_amt_9m', 'dp_ils_ipkcurrentyear_currentyearpensfactor', 'avg_by_category__amount__sum__cashflowcategory_name__odezhda', 'cntOnnRinCallAvg6m', 'dda_rur_amt_3m_avg', 'winback_cnt', 'salary_median_in_gex_r1', 'dp_payoutincomedata_payout_avg_prev_year', 'avg_amount_daily_transactions_90d', 'vert_has_app_ru_tinkoff_investing', 'transaction_category_supermarket_inc_cnt_2m', 'vert_pil_sms_success_3m', 'min_balance_rur_amt_1m_af', 'dp_ils_max_seniority', 'avg_by_category__amount__sum__cashflowcategory_name__set_supermarketov', 'label_500k_to_1M_share_r1', 'avg_by_category__amount__sum__cashflowcategory_name__zarubezhnye_finansovye_operatsii', 'avg_6m_all', 'dp_ils_avg_simultanious_jobs_5y', 'dp_ewb_dismissal_due_contract_violation_by_lb_cnt', 'summarur_1m_purch', 'diff_avg_cr_db_turn', 'dp_ils_cnt_changes_1y', 'dp_ils_employeers_cnt_last_month', 'dp_payoutincomedata_payout_avg_6_month', 'dp_ewb_last_organization', 'by_category__amount__sum__eoperation_type_name__perevod_mezhdu_svoimi_schetami', 'turn_other_cr_avg_act_v2', 'cntVoiceOutMob6m', 'avg_by_category__amount__sum__cashflowcategory_name__puteshestvija', 'loanacc_rur_amt_cm_avg', 'transaction_category_supermarket_sum_cnt_m2', 'transaction_category_supermarket_sum_amt_d15', 'avg_fdep_cr_turn', 'transaction_category_restaurants_percent_cnt_2m', 'avg_by_category__amount__sum__cashflowcategory_name__reklama_v_internete', 'transaction_category_restaurants_percent_amt_2m', 'turn_fdep_db_avg_act_v2', 'dp_ils_accpayment_avg_6m', 'turn_other_cr_sum_v2', 'client_active_flag', 'avg_by_category__amount__sum__cashflowcategory_name__produkty', 'curr_rur_amt_cm_avg_inc_v2', 'nonresident_flag', 'avg_by_category__amount__sum__cashflowcategory_name__kosmetika', 'vert_has_app_ru_vtb_invest', 'dp_ils_avg_salary_3y', 'days_after_last_request', 'cntRegionTripsWavg1m', 'vert_has_app_ru_cian_main', 'loanacc_rur_amt_curr_v2', 'avg_3m_no_cat', 'vert_ghost_close_dpay3_last_days', 'vert_has_app_ru_raiffeisennews', 'dp_ils_days_ip_share_5y', 'avg_by_category__amount__sum__cashflowcategory_name__platezhi_cherez_internet', 'by_category__amount__sum__eoperation_type_name__perevod_s_karty_na_kartu', 'calledCtnOutGroup', 'vert_pil_loan_application_success_3m', 'vert_pil_fee_discount_change_3m', 'businessTelSubs', 'profit_income_out_rur_amt_l2m', 'avg_3m_healthcare_services', 'dp_ils_paymentssum_month_avg', 'ovrd_sum', 'loan_cur_amt', 'mob_total_sessions', 'dp_ils_days_multiple_job_share_2y', 'lifetimeComp', 'amount_by_category_90d__summarur_amt__sum__cashflowcategory_name__elektronnye_dengi', 'turn_save_cr_max_v2', 'dp_ils_accpayment_avg_3m', 'avg_6m_restaurants', 'transaction_category_fastfood_percent_cnt_2m', 'accountsalary_out_flag', 'cntBlockWavg6m', 'express_rur_amt_cm_avg', 'loanacc_rur_amt_cm_avg_inc_v2', 'dp_ils_days_multiple_job_cnt_5y', 'dp_ils_accpayment_month_avg', 'cred_dda_rur_amt_3m_avg', 'avg_3m_all', 'hdb_other_active_max_psk', 'total_sum', 'dp_ils_uniq_companies_1y', 'avg_6m_travel', 'avg_6m_government_services', 'total_rur_amt_cm_avg_period_days_ago_v2', 'label_Above_1M_share_r1', 'transaction_category_supermarket_sum_cnt_d15', 'max_balance_rur_amt_1m_af', 'w', 'first_salary_income']
Datetime Columns (0): []
Boolean Columns (0): []
Other Columns (0): []

==================================================

In [9]:
# def quick_check_false_categorical(df, columns):
#     """Быстрая проверка на ложные категориальные признаки"""
#     false_cats = []
    
#     for col in columns:
#         if col in df.columns:
#             # Берем непустые значения
#             non_null = df[col].dropna()
#             if len(non_null) > 0:
#                 # Пробуем преобразовать в числа
#                 try:
#                     numeric_vals = pd.to_numeric(non_null.head(500), errors='coerce')
#                     conversion_rate = numeric_vals.notna().mean()
#                     if conversion_rate > 0.7:  # 70% успешных преобразований
#                         false_cats.append((col, conversion_rate))
#                         print(f"✓ {col}: {conversion_rate:.1%} числовых значений")
#                 except:
#                     pass
    
#     # Сортируем по проценту числовых значений
#     false_cats.sort(key=lambda x: x[1], reverse=True)
#     return [col for col, rate in false_cats]

# # Использование:
# false_columns = quick_check_false_categorical(df, column_types['categorical'])

In [10]:
def find_false_categorical(df, categorical_columns):
    """
    Быстрая версия для определения ложных категориальных признаков
    """
    false_categorical = []
    
    for col in categorical_columns:
        if col not in df.columns:
            continue
            
        sample_data = df[col].dropna().head(1000)
        
        if len(sample_data) == 0:
            continue
            
        # Пробуем преобразовать в числовой формат
        try:
            numeric_converted = pd.to_numeric(sample_data, errors='coerce')
            # Считаем процент успешных преобразований
            success_rate = numeric_converted.notna().mean()
            
            if success_rate > 0.8:
                false_categorical.append(col)
                print(f"Ложная категориальная колонка: {col}")
                print(f"  - Успешных преобразований: {success_rate:.2%}")
                print(f"  - Примеры: {sample_data.head(3).tolist()}")
                print("-" * 50)
                
        except Exception as e:
            print(f"Ошибка при обработке колонки {col}: {e}")
    
    return false_categorical

false_categorical = find_false_categorical(df, column_types['categorical'])

# Замена типа у ложных категориальных столбцов
for col in false_categorical:
    df[col] = pd.to_numeric(df[col], errors='coerce')

Ложная категориальная колонка: hdb_bki_total_max_limit
  - Успешных преобразований: 100.00%
  - Примеры: ['52800.0', '260200.0', '2000000.0']
--------------------------------------------------
Ложная категориальная колонка: hdb_bki_total_cc_max_limit
  - Успешных преобразований: 100.00%
  - Примеры: ['23213.0', '10000.0', '90000.0']
--------------------------------------------------
Ложная категориальная колонка: hdb_bki_total_pil_max_limit
  - Успешных преобразований: 100.00%
  - Примеры: ['52800.0', '260200.0', '100000.0']
--------------------------------------------------
Ложная категориальная колонка: hdb_bki_active_cc_max_limit
  - Успешных преобразований: 100.00%
  - Примеры: ['13000.0', '0.0', '90000.0']
--------------------------------------------------
Ложная категориальная колонка: hdb_bki_other_active_pil_outstanding
  - Успешных преобразований: 100.00%
  - Примеры: ['124714.828125', '267319.0', '587252.3125']
--------------------------------------------------
Ложная категориальная колонка: hdb_bki_total_products
  - Успешных преобразований: 100.00%
  - Примеры: ['6.0', '5.0', '5.0']
--------------------------------------------------
Ложная категориальная колонка: hdb_bki_total_max_overdue_sum
  - Успешных преобразований: 100.00%
  - Примеры: ['20739.0', '183478.0', '368.0']
--------------------------------------------------
Ложная категориальная колонка: bki_total_auto_cnt
  - Успешных преобразований: 100.00%
  - Примеры: ['0.0', '0.0', '0.0']
--------------------------------------------------
Ложная категориальная колонка: dp_address_unique_regions
  - Успешных преобразований: 93.60%
  - Примеры: ['66', '23', '50']
--------------------------------------------------
Ложная категориальная колонка: hdb_bki_total_ip_max_limit
  - Успешных преобразований: 100.00%
  - Примеры: ['2000000.0', '900000.0', '1300000.0']
--------------------------------------------------
Ложная категориальная колонка: hdb_bki_total_cnt
  - Успешных преобразований: 100.00%
  - Примеры: ['38.0', '40.0', '55.0']
--------------------------------------------------
Ложная категориальная колонка: bki_total_oth_cnt
  - Успешных преобразований: 100.00%
  - Примеры: ['0.0', '0.0', '0.0']
--------------------------------------------------
Ложная категориальная колонка: bki_total_ip_max_outstand
  - Успешных преобразований: 100.00%
  - Примеры: ['709889.4', '1135611.62', '2924546.46']
--------------------------------------------------
Ложная категориальная колонка: hdb_bki_total_ip_cnt
  - Успешных преобразований: 100.00%
  - Примеры: ['0.0', '0.0', '1.0']
--------------------------------------------------
Ложная категориальная колонка: hdb_bki_active_cc_max_outstand
  - Успешных преобразований: 100.00%
  - Примеры: ['0.0', '0.0', '0.0']
--------------------------------------------------
Ложная категориальная колонка: hdb_bki_total_pil_max_overdue
  - Успешных преобразований: 100.00%
  - Примеры: ['20739.0', '183478.0', '0.0']
--------------------------------------------------
Ложная категориальная колонка: bki_total_il_max_limit
  - Успешных преобразований: 100.00%
  - Примеры: ['52800.0', '260200.0', '29760.0']
--------------------------------------------------
Ложная категориальная колонка: bki_total_products
  - Успешных преобразований: 100.00%
  - Примеры: ['3.0', '2.0', '2.0']
--------------------------------------------------
Ложная категориальная колонка: bki_active_auto_cnt
  - Успешных преобразований: 100.00%
  - Примеры: ['0.0', '0.0', '0.0']
--------------------------------------------------
Ложная категориальная колонка: bki_total_max_limit
  - Успешных преобразований: 100.00%
  - Примеры: ['52800.0', '260200.0', '2000000.0']
--------------------------------------------------
Ложная категориальная колонка: hdb_bki_total_auto_max_limit
  - Успешных преобразований: 100.00%
  - Примеры: ['1000000.0', '1015002.0', '1988000.0']
--------------------------------------------------
Ложная категориальная колонка: hdb_bki_total_micro_max_overdue
  - Успешных преобразований: 100.00%
  - Примеры: ['5000.0', '620.24', '0.0']
--------------------------------------------------
Ложная категориальная колонка: bki_total_active_products
  - Успешных преобразований: 100.00%
  - Примеры: ['1.0', '2.0', '2.0']
--------------------------------------------------
Ложная категориальная колонка: hdb_bki_total_active_products
  - Успешных преобразований: 100.00%
  - Примеры: ['1.0', '2.0', '2.0']
--------------------------------------------------
Ложная категориальная колонка: hdb_bki_total_micro_cnt
  - Успешных преобразований: 100.00%
  - Примеры: ['1.0', '0.0', '0.0']
--------------------------------------------------
Ложная категориальная колонка: hdb_bki_active_pil_cnt
  - Успешных преобразований: 100.00%
  - Примеры: ['0.0', '1.0', '0.0']
--------------------------------------------------
Ложная категориальная колонка: hdb_bki_total_cc_max_overdue
  - Успешных преобразований: 100.00%
  - Примеры: ['0.0', '67.0', '368.0']
--------------------------------------------------
Ложная категориальная колонка: hdb_bki_total_pil_last_days
  - Успешных преобразований: 100.00%
  - Примеры: ['808.0', '217.0', '6061.0']
--------------------------------------------------
Ложная категориальная колонка: hdb_bki_active_pil_max_limit
  - Успешных преобразований: 100.00%
  - Примеры: ['260200.0', '1000000.0', '25270.0']
--------------------------------------------------
Ложная категориальная колонка: hdb_bki_total_pil_cnt
  - Успешных преобразований: 100.00%
  - Примеры: ['2.0', '3.0', '2.0']
--------------------------------------------------
Ложная категориальная колонка: hdb_bki_total_pil_max_del90
  - Успешных преобразований: 100.00%
  - Примеры: ['0.0', '15.0', '0.0']
--------------------------------------------------
Ложная категориальная колонка: hdb_bki_last_product_days
  - Успешных преобразований: 100.00%
  - Примеры: ['808.0', '217.0', '1168.0']
--------------------------------------------------
Ложная категориальная колонка: hdb_bki_other_active_ip_outstanding
  - Успешных преобразований: 100.00%
  - Примеры: ['709889.375', '1135611.625', '2891199.0']
--------------------------------------------------
Ложная категориальная колонка: hdb_bki_active_cc_max_overdue
  - Успешных преобразований: 100.00%
  - Примеры: ['0.0', '67.0', '0.0']
--------------------------------------------------

In [11]:
def classify_columns(df):
    """Classify columns as categorical or numerical"""
    print("=== COLUMN CLASSIFICATION ===")
    
    categorical_cols = []
    numerical_cols = []
    datetime_cols = []
    boolean_cols = []
    other_cols = []
    
    for column in df.columns:
        dtype = df[column].dtype
        
        # Check for categorical
        if dtype == 'object' or dtype.name == 'category':
            categorical_cols.append(column)
        # Check for numerical
        elif np.issubdtype(dtype, np.number):
            numerical_cols.append(column)
        # Check for datetime
        elif np.issubdtype(dtype, np.datetime64):
            datetime_cols.append(column)
        # Check for boolean
        elif dtype == 'bool':
            boolean_cols.append(column)
        else:
            other_cols.append(column)
    
    # Print classification results
    print(f"Categorical Columns ({len(categorical_cols)}): {categorical_cols}")
    print(f"Numerical Columns ({len(numerical_cols)}): {numerical_cols}")
    print(f"Datetime Columns ({len(datetime_cols)}): {datetime_cols}")
    print(f"Boolean Columns ({len(boolean_cols)}): {boolean_cols}")
    print(f"Other Columns ({len(other_cols)}): {other_cols}")
    
    return {
        'categorical': categorical_cols,
        'numerical': numerical_cols,
        'datetime': datetime_cols,
        'boolean': boolean_cols,
        'other': other_cols
    }

# Classify columns
column_types = classify_columns(df)
print("\n" + "="*50)

=== COLUMN CLASSIFICATION ===
Categorical Columns (7): ['dt', 'gender', 'adminarea', 'city_smart_name', 'dp_ewb_last_employment_position', 'addrref', 'period_last_act_ad']
Numerical Columns (217): ['id', 'target', 'turn_cur_cr_avg_act_v2', 'salary_6to12m_avg', 'hdb_bki_total_max_limit', 'dp_ils_paymentssum_avg_12m', 'hdb_bki_total_cc_max_limit', 'incomeValue', 'avg_cur_cr_turn', 'turn_cur_cr_avg_v2', 'turn_cur_cr_max_v2', 'hdb_bki_total_pil_max_limit', 'age', 'dp_ils_avg_salary_1y', 'turn_cur_cr_sum_v2', 'by_category__amount__sum__eoperation_type_name__ishodjaschij_bystryj_platezh_sbp', 'turn_cur_db_sum_v2', 'turn_cur_db_avg_act_v2', 'dp_ils_avg_salary_2y', 'curr_rur_amt_cm_avg', 'turn_cur_db_avg_v2', 'by_category__amount__sum__eoperation_type_name__vhodjaschij_bystryj_platezh_sbp', 'dp_ils_paymentssum_avg_6m', 'avg_cur_db_turn', 'hdb_bki_active_cc_max_limit', 'incomeValueCategory', 'avg_by_category__amount__sum__cashflowcategory_name__vydacha_nalichnyh_v_bankomate', 'avg_credit_turn_rur', 'dp_ils_salary_ratio_1y3y', 'by_category__amount__sum__eoperation_type_name__perevod_po_nomeru_telefona', 'turn_cur_cr_7avg_avg_v2', 'dp_ils_accpayment_avg_12m', 'curbal_usd_amt_cm_avg', 'avg_by_category__amount__sum__cashflowcategory_name__supermarkety', 'avg_loan_cnt_with_insurance', 'avg_by_category__amount__sum__cashflowcategory_name__gipermarkety', 'uniV5', 'turn_cur_db_max_v2', 'avg_by_category__amount__sum__cashflowcategory_name__kafe', 'turn_other_db_max_v2', 'turn_cur_cr_min_v2', 'hdb_bki_other_active_pil_outstanding', 'turn_cur_db_min_v2', 'hdb_bki_total_products', 'per_capita_income_rur_amt', 'avg_debet_turn_rur', 'hdb_relend_active_max_psk', 'dda_rur_amt_curr_v2', 'mob_cnt_days', 'dp_ils_days_from_last_doc', 'avg_6m_money_transactions', 'transaction_category_supermarket_percent_cnt_2m', 'pil', 'hdb_bki_total_max_overdue_sum', 'avg_6m_clothing', 'avg_by_category__amount__sum__cashflowcategory_name__elektronnye_dengi', 'bki_total_auto_cnt', 'dp_payoutincomedata_payout_avg_3_month', 'hdb_outstand_sum', 'avg_3m_money_transactions', 'dp_address_unique_regions', 'min_balance_rur_amt_6m_af', 'transaction_category_supermarket_sum_cnt_m3_4', 'dp_payoutincomedata_payout_max_3_month', 'hdb_bki_total_ip_max_limit', 'hdb_bki_total_cnt', 'blacklist_flag', 'bki_total_oth_cnt', 'dp_payoutincomedata_payout_sum_3_month', 'hdb_relend_outstand_sum', 'total_rur_amt_cm_avg', 'mob_cover_days', 'dp_payoutincomedata_payout_max_6_month', 'label_Below_50k_share_r1', 'turn_fdep_db_sum_v2', 'dp_ils_accpayment_avg_6m_current', 'transaction_category_cash_percent_amt_2m', 'curr_rur_amt_3m_avg', 'transaction_category_restaurants_sum_amt_m2', 'loan_cnt', 'turn_fdep_db_avg_v2', 'turn_cur_db_7avg_avg_v2', 'bki_total_ip_max_outstand', 'amount_by_category_90d__summarur_amt__sum__cashflowcategory_name__vydacha_nalichnyh_v_bankomate', 'profit_income_out_rur_amt_12m', 'avg_6m_hotels', 'hdb_ovrd_sum', 'dp_ils_total_seniority', 'dp_ils_paymentssum_avg_6m_current', 'smsInWavg6m', 'avg_fdep_db_turn', 'device_iphone_avg', 'by_category__amount__sum__eoperation_type_name__platezh_za_mobilnyj_cherez_ps', 'avg_balance_rur_amt_1m_af', 'curr_rur_amt_cm_avg_period_days_ago_v2', 'avg_by_category__amount__sum__cashflowcategory_name__oteli', 'hdb_bki_total_ip_cnt', 'hdb_bki_active_cc_max_outstand', 'hdb_other_outstand_sum', 'days_to_last_transaction', 'hdb_bki_total_pil_max_overdue', 'vert_pil_last_credit_step_screen_view_3m', 'acard', 'bki_total_il_max_limit', 'other_credits_count', 'tz_msk_timedelta', 'turn_save_db_min_v2', 'profit_income_out_rur_amt_9m', 'dp_ils_ipkcurrentyear_currentyearpensfactor', 'avg_by_category__amount__sum__cashflowcategory_name__odezhda', 'cntOnnRinCallAvg6m', 'dda_rur_amt_3m_avg', 'winback_cnt', 'salary_median_in_gex_r1', 'dp_payoutincomedata_payout_avg_prev_year', 'avg_amount_daily_transactions_90d', 'vert_has_app_ru_tinkoff_investing', 'transaction_category_supermarket_inc_cnt_2m', 'vert_pil_sms_success_3m', 'min_balance_rur_amt_1m_af', 'dp_ils_max_seniority', 'avg_by_category__amount__sum__cashflowcategory_name__set_supermarketov', 'label_500k_to_1M_share_r1', 'avg_by_category__amount__sum__cashflowcategory_name__zarubezhnye_finansovye_operatsii', 'bki_total_products', 'avg_6m_all', 'dp_ils_avg_simultanious_jobs_5y', 'dp_ewb_dismissal_due_contract_violation_by_lb_cnt', 'summarur_1m_purch', 'diff_avg_cr_db_turn', 'dp_ils_cnt_changes_1y', 'dp_ils_employeers_cnt_last_month', 'dp_payoutincomedata_payout_avg_6_month', 'dp_ewb_last_organization', 'by_category__amount__sum__eoperation_type_name__perevod_mezhdu_svoimi_schetami', 'bki_active_auto_cnt', 'turn_other_cr_avg_act_v2', 'cntVoiceOutMob6m', 'avg_by_category__amount__sum__cashflowcategory_name__puteshestvija', 'loanacc_rur_amt_cm_avg', 'transaction_category_supermarket_sum_cnt_m2', 'transaction_category_supermarket_sum_amt_d15', 'avg_fdep_cr_turn', 'transaction_category_restaurants_percent_cnt_2m', 'bki_total_max_limit', 'avg_by_category__amount__sum__cashflowcategory_name__reklama_v_internete', 'transaction_category_restaurants_percent_amt_2m', 'turn_fdep_db_avg_act_v2', 'dp_ils_accpayment_avg_6m', 'turn_other_cr_sum_v2', 'client_active_flag', 'avg_by_category__amount__sum__cashflowcategory_name__produkty', 'curr_rur_amt_cm_avg_inc_v2', 'nonresident_flag', 'avg_by_category__amount__sum__cashflowcategory_name__kosmetika', 'vert_has_app_ru_vtb_invest', 'dp_ils_avg_salary_3y', 'hdb_bki_total_auto_max_limit', 'days_after_last_request', 'cntRegionTripsWavg1m', 'vert_has_app_ru_cian_main', 'loanacc_rur_amt_curr_v2', 'avg_3m_no_cat', 'vert_ghost_close_dpay3_last_days', 'vert_has_app_ru_raiffeisennews', 'dp_ils_days_ip_share_5y', 'avg_by_category__amount__sum__cashflowcategory_name__platezhi_cherez_internet', 'hdb_bki_total_micro_max_overdue', 'bki_total_active_products', 'by_category__amount__sum__eoperation_type_name__perevod_s_karty_na_kartu', 'calledCtnOutGroup', 'vert_pil_loan_application_success_3m', 'vert_pil_fee_discount_change_3m', 'businessTelSubs', 'profit_income_out_rur_amt_l2m', 'avg_3m_healthcare_services', 'dp_ils_paymentssum_month_avg', 'ovrd_sum', 'hdb_bki_total_active_products', 'hdb_bki_total_micro_cnt', 'hdb_bki_active_pil_cnt', 'loan_cur_amt', 'mob_total_sessions', 'dp_ils_days_multiple_job_share_2y', 'hdb_bki_total_cc_max_overdue', 'lifetimeComp', 'hdb_bki_total_pil_last_days', 'amount_by_category_90d__summarur_amt__sum__cashflowcategory_name__elektronnye_dengi', 'turn_save_cr_max_v2', 'hdb_bki_active_pil_max_limit', 'dp_ils_accpayment_avg_3m', 'avg_6m_restaurants', 'hdb_bki_total_pil_cnt', 'transaction_category_fastfood_percent_cnt_2m', 'hdb_bki_total_pil_max_del90', 'accountsalary_out_flag', 'cntBlockWavg6m', 'express_rur_amt_cm_avg', 'loanacc_rur_amt_cm_avg_inc_v2', 'hdb_bki_last_product_days', 'dp_ils_days_multiple_job_cnt_5y', 'dp_ils_accpayment_month_avg', 'cred_dda_rur_amt_3m_avg', 'avg_3m_all', 'hdb_other_active_max_psk', 'hdb_bki_other_active_ip_outstanding', 'total_sum', 'dp_ils_uniq_companies_1y', 'avg_6m_travel', 'avg_6m_government_services', 'hdb_bki_active_cc_max_overdue', 'total_rur_amt_cm_avg_period_days_ago_v2', 'label_Above_1M_share_r1', 'transaction_category_supermarket_sum_cnt_d15', 'max_balance_rur_amt_1m_af', 'w', 'first_salary_income']
Datetime Columns (0): []
Boolean Columns (0): []
Other Columns (0): []

==================================================

In [12]:
column_types['categorical']

['dt',
 'gender',
 'adminarea',
 'city_smart_name',
 'dp_ewb_last_employment_position',
 'addrref',
 'period_last_act_ad']

In [13]:
def analyze_categorical_columns(df, categorical_columns):
    """
    Анализирует категориальные колонки перед кодированием
    """
    print("Анализ категориальных колонок:")
    print("=" * 50)
    
    existing_columns = [col for col in categorical_columns if col in df.columns]
    
    analysis_results = []
    
    for col in existing_columns:
        unique_count = df[col].nunique()
        missing_count = df[col].isna().sum()
        missing_percent = (missing_count / len(df)) * 100
        
        analysis_results.append({
            'column': col,
            'unique_values': unique_count,
            'missing_values': missing_count,
            'missing_percent': missing_percent,
            'sample_values': df[col].dropna().unique()[:3]
        })
        
        print(f"{col}:")
        print(f"  - Уникальных значений: {unique_count}")
        print(f"  - Пропущенных: {missing_count} ({missing_percent:.1f}%)")
        print(f"  - Примеры: {df[col].dropna().unique()[:3]}")
        print()
    
    return analysis_results

analyze_categorical_columns(df, column_types['categorical'])

Анализ категориальных колонок:
==================================================
dt:
  - Уникальных значений: 6
  - Пропущенных: 0 (0.0%)
  - Примеры: ['2024-04-30' '2024-02-29' '2024-03-31']

gender:
  - Уникальных значений: 2
  - Пропущенных: 0 (0.0%)
  - Примеры: ['Женский' 'Мужской']

adminarea:
  - Уникальных значений: 85
  - Пропущенных: 19563 (25.5%)
  - Примеры: ['Свердловская область' 'Краснодарский край' 'Новосибирская область']

city_smart_name:
  - Уникальных значений: 105
  - Пропущенных: 9463 (12.3%)
  - Примеры: ['Екатеринбург' 'Краснодар' 'Томск']

dp_ewb_last_employment_position:
  - Уникальных значений: 6093
  - Пропущенных: 61705 (80.4%)
  - Примеры: ['ВРАЧ-ДЕРМАТОВЕНЕРОЛОГ' 'Руководитель проекта' 'Лаборант, Лаборант']

addrref:
  - Уникальных значений: 62
  - Пропущенных: 8549 (11.1%)
  - Примеры: ['Свердловская область' 'Краснодарский край' 'Томская область']

period_last_act_ad:
  - Уникальных значений: 57
  - Пропущенных: 65653 (85.5%)
  - Примеры: ['2022-10-01' '2022-06-01' '2024-05-01']

[{'column': 'dt',
  'unique_values': 6,
  'missing_values': 0,
  'missing_percent': 0.0,
  'sample_values': array(['2024-04-30', '2024-02-29', '2024-03-31'], dtype=object)},
 {'column': 'gender',
  'unique_values': 2,
  'missing_values': 0,
  'missing_percent': 0.0,
  'sample_values': array(['Женский', 'Мужской'], dtype=object)},
 {'column': 'adminarea',
  'unique_values': 85,
  'missing_values': 19563,
  'missing_percent': 25.47730054957935,
  'sample_values': array(['Свердловская область', 'Краснодарский край',
         'Новосибирская область'], dtype=object)},
 {'column': 'city_smart_name',
  'unique_values': 105,
  'missing_values': 9463,
  'missing_percent': 12.32386112051676,
  'sample_values': array(['Екатеринбург', 'Краснодар', 'Томск'], dtype=object)},
 {'column': 'dp_ewb_last_employment_position',
  'unique_values': 6093,
  'missing_values': 61705,
  'missing_percent': 80.35970098715912,
  'sample_values': array(['ВРАЧ-ДЕРМАТОВЕНЕРОЛОГ', 'Руководитель проекта',
         'Лаборант, Лаборант'], dtype=object)},
 {'column': 'addrref',
  'unique_values': 62,
  'missing_values': 8549,
  'missing_percent': 11.133539968223374,
  'sample_values': array(['Свердловская область', 'Краснодарский край', 'Томская область'],
        dtype=object)},
 {'column': 'period_last_act_ad',
  'unique_values': 57,
  'missing_values': 65653,
  'missing_percent': 85.50126325111349,
  'sample_values': array(['2022-10-01', '2022-06-01', '2024-05-01'], dtype=object)}]

In [14]:
def analyze_missing_values(df):
    """Анализ пропущенных значений с детальной статистикой"""
    
    # Создаем DataFrame с результатами
    missing_analysis = pd.DataFrame({
        'column': df.columns,
        'missing_count': df.isnull().sum(),
        'missing_percentage': (df.isnull().sum() / len(df)) * 100,
        'non_missing_count': df.notnull().sum(),
        'data_type': df.dtypes
    })
    
    # Сортируем по количеству пропусков (по убыванию)
    missing_analysis = missing_analysis.sort_values('missing_count', ascending=False)
    
    return missing_analysis

# Анализируем пропуски
result = analyze_missing_values(df)
print("\nДетальный анализ пропущенных значений:")
print(result)

Детальный анализ пропущенных значений:
                                                                                               column  \
avg_by_category__amount__sum__cashflowcategory_...  avg_by_category__amount__sum__cashflowcategory...
turn_fdep_db_avg_act_v2                                                       turn_fdep_db_avg_act_v2
turn_fdep_db_sum_v2                                                               turn_fdep_db_sum_v2
turn_fdep_db_avg_v2                                                               turn_fdep_db_avg_v2
avg_by_category__amount__sum__cashflowcategory_...  avg_by_category__amount__sum__cashflowcategory...
...                                                                                               ...
dt                                                                                                 dt
age                                                                                               age
target                                                                                         target
w                                                                                                   w
id                                                                                                 id

                                                    missing_count  \
avg_by_category__amount__sum__cashflowcategory_...          75589
turn_fdep_db_avg_act_v2                                     74461
turn_fdep_db_sum_v2                                         72950
turn_fdep_db_avg_v2                                         72950
avg_by_category__amount__sum__cashflowcategory_...          71564
...                                                           ...
dt                                                              0
age                                                             0
target                                                          0
w                                                               0
id                                                              0

                                                    missing_percentage  \
avg_by_category__amount__sum__cashflowcategory_...           98.441122
turn_fdep_db_avg_act_v2                                      96.972104
turn_fdep_db_sum_v2                                          95.004298
turn_fdep_db_avg_v2                                          95.004298
avg_by_category__amount__sum__cashflowcategory_...           93.199281
...                                                                ...
dt                                                            0.000000
age                                                           0.000000
target                                                        0.000000
w                                                             0.000000
id                                                            0.000000

                                                    non_missing_count  \
avg_by_category__amount__sum__cashflowcategory_...               1197
turn_fdep_db_avg_act_v2                                          2325
turn_fdep_db_sum_v2                                              3836
turn_fdep_db_avg_v2                                              3836
avg_by_category__amount__sum__cashflowcategory_...               5222
...                                                               ...
dt                                                              76786
age                                                             76786
target                                                          76786
w                                                               76786
id                                                              76786

                                                   data_type
avg_by_category__amount__sum__cashflowcategory_...   float64
turn_fdep_db_avg_act_v2                              float64
turn_fdep_db_sum_v2                                  float64
turn_fdep_db_avg_v2                                  float64
avg_by_category__amount__sum__cashflowcategory_...   float64
...                                                      ...
dt                                                    object
age                                                  float64
target                                               float64
w                                                    float64
id                                                     int64

[224 rows x 5 columns]

In [15]:
def get_high_missing_columns(df, threshold=70):
    """
    Возвращает список столбцов с процентом пропусков выше порога
    
    Parameters:
    df - DataFrame
    threshold - порог в процентах (по умолчанию 70%)
    
    Returns:
    list - список названий столбцов
    """
    missing_percentage = (df.isnull().sum() / len(df)) * 100
    high_missing_columns = missing_percentage[missing_percentage > threshold]
    
    return high_missing_columns.index.tolist()

# Использование функции
high_missing_cols = get_high_missing_columns(df, 70)
print("Столбцы с >70% пропусков:", high_missing_cols)

Столбцы с >70% пропусков: ['salary_6to12m_avg', 'dp_ils_paymentssum_avg_12m', 'dp_ils_avg_salary_1y', 'dp_ils_avg_salary_2y', 'dp_ils_paymentssum_avg_6m', 'dp_ils_salary_ratio_1y3y', 'dp_ils_accpayment_avg_12m', 'avg_loan_cnt_with_insurance', 'dp_ewb_last_employment_position', 'dp_ils_days_from_last_doc', 'dp_payoutincomedata_payout_avg_3_month', 'dp_address_unique_regions', 'min_balance_rur_amt_6m_af', 'dp_payoutincomedata_payout_max_3_month', 'hdb_bki_total_ip_max_limit', 'dp_payoutincomedata_payout_sum_3_month', 'dp_payoutincomedata_payout_max_6_month', 'turn_fdep_db_sum_v2', 'dp_ils_accpayment_avg_6m_current', 'transaction_category_restaurants_sum_amt_m2', 'loan_cnt', 'turn_fdep_db_avg_v2', 'bki_total_ip_max_outstand', 'dp_ils_total_seniority', 'dp_ils_paymentssum_avg_6m_current', 'avg_balance_rur_amt_1m_af', 'avg_by_category__amount__sum__cashflowcategory_name__oteli', 'turn_save_db_min_v2', 'dp_ils_ipkcurrentyear_currentyearpensfactor', 'cntOnnRinCallAvg6m', 'dp_payoutincomedata_payout_avg_prev_year', 'min_balance_rur_amt_1m_af', 'dp_ils_max_seniority', 'avg_by_category__amount__sum__cashflowcategory_name__set_supermarketov', 'avg_by_category__amount__sum__cashflowcategory_name__zarubezhnye_finansovye_operatsii', 'dp_ils_avg_simultanious_jobs_5y', 'dp_ewb_dismissal_due_contract_violation_by_lb_cnt', 'dp_ils_cnt_changes_1y', 'dp_ils_employeers_cnt_last_month', 'dp_payoutincomedata_payout_avg_6_month', 'dp_ewb_last_organization', 'avg_by_category__amount__sum__cashflowcategory_name__puteshestvija', 'transaction_category_restaurants_percent_cnt_2m', 'avg_by_category__amount__sum__cashflowcategory_name__reklama_v_internete', 'transaction_category_restaurants_percent_amt_2m', 'turn_fdep_db_avg_act_v2', 'dp_ils_accpayment_avg_6m', 'dp_ils_avg_salary_3y', 'hdb_bki_total_auto_max_limit', 'dp_ils_days_ip_share_5y', 'avg_by_category__amount__sum__cashflowcategory_name__platezhi_cherez_internet', 'hdb_bki_total_micro_max_overdue', 'by_category__amount__sum__eoperation_type_name__perevod_s_karty_na_kartu', 'calledCtnOutGroup', 'dp_ils_paymentssum_month_avg', 'loan_cur_amt', 'period_last_act_ad', 'dp_ils_days_multiple_job_share_2y', 'turn_save_cr_max_v2', 'dp_ils_accpayment_avg_3m', 'dp_ils_days_multiple_job_cnt_5y', 'dp_ils_accpayment_month_avg', 'hdb_bki_other_active_ip_outstanding', 'dp_ils_uniq_companies_1y', 'max_balance_rur_amt_1m_af', 'first_salary_income']

In [17]:
# Удаляем столбцы с большим количеством пропусков

# df.drop(columns=['period_last_act_ad', 'dp_ewb_last_employment_position'], inplace=True)
df.drop(columns=high_missing_cols, inplace=True)

In [18]:
def classify_columns(df):
    """Classify columns as categorical or numerical"""
    print("=== COLUMN CLASSIFICATION ===")
    
    categorical_cols = []
    numerical_cols = []
    datetime_cols = []
    boolean_cols = []
    other_cols = []
    
    for column in df.columns:
        dtype = df[column].dtype
        
        # Check for categorical
        if dtype == 'object' or dtype.name == 'category':
            categorical_cols.append(column)
        # Check for numerical
        elif np.issubdtype(dtype, np.number):
            numerical_cols.append(column)
        # Check for datetime
        elif np.issubdtype(dtype, np.datetime64):
            datetime_cols.append(column)
        # Check for boolean
        elif dtype == 'bool':
            boolean_cols.append(column)
        else:
            other_cols.append(column)
    
    # Print classification results
    print(f"Categorical Columns ({len(categorical_cols)}): {categorical_cols}")
    print(f"Numerical Columns ({len(numerical_cols)}): {numerical_cols}")
    print(f"Datetime Columns ({len(datetime_cols)}): {datetime_cols}")
    print(f"Boolean Columns ({len(boolean_cols)}): {boolean_cols}")
    print(f"Other Columns ({len(other_cols)}): {other_cols}")
    
    return {
        'categorical': categorical_cols,
        'numerical': numerical_cols,
        'datetime': datetime_cols,
        'boolean': boolean_cols,
        'other': other_cols
    }

# Classify columns
column_types = classify_columns(df)
print("\n" + "="*50)

=== COLUMN CLASSIFICATION ===
Categorical Columns (5): ['dt', 'gender', 'adminarea', 'city_smart_name', 'addrref']
Numerical Columns (153): ['id', 'target', 'turn_cur_cr_avg_act_v2', 'hdb_bki_total_max_limit', 'hdb_bki_total_cc_max_limit', 'incomeValue', 'avg_cur_cr_turn', 'turn_cur_cr_avg_v2', 'turn_cur_cr_max_v2', 'hdb_bki_total_pil_max_limit', 'age', 'turn_cur_cr_sum_v2', 'by_category__amount__sum__eoperation_type_name__ishodjaschij_bystryj_platezh_sbp', 'turn_cur_db_sum_v2', 'turn_cur_db_avg_act_v2', 'curr_rur_amt_cm_avg', 'turn_cur_db_avg_v2', 'by_category__amount__sum__eoperation_type_name__vhodjaschij_bystryj_platezh_sbp', 'avg_cur_db_turn', 'hdb_bki_active_cc_max_limit', 'incomeValueCategory', 'avg_by_category__amount__sum__cashflowcategory_name__vydacha_nalichnyh_v_bankomate', 'avg_credit_turn_rur', 'by_category__amount__sum__eoperation_type_name__perevod_po_nomeru_telefona', 'turn_cur_cr_7avg_avg_v2', 'curbal_usd_amt_cm_avg', 'avg_by_category__amount__sum__cashflowcategory_name__supermarkety', 'avg_by_category__amount__sum__cashflowcategory_name__gipermarkety', 'uniV5', 'turn_cur_db_max_v2', 'avg_by_category__amount__sum__cashflowcategory_name__kafe', 'turn_other_db_max_v2', 'turn_cur_cr_min_v2', 'hdb_bki_other_active_pil_outstanding', 'turn_cur_db_min_v2', 'hdb_bki_total_products', 'per_capita_income_rur_amt', 'avg_debet_turn_rur', 'hdb_relend_active_max_psk', 'dda_rur_amt_curr_v2', 'mob_cnt_days', 'avg_6m_money_transactions', 'transaction_category_supermarket_percent_cnt_2m', 'pil', 'hdb_bki_total_max_overdue_sum', 'avg_6m_clothing', 'avg_by_category__amount__sum__cashflowcategory_name__elektronnye_dengi', 'bki_total_auto_cnt', 'hdb_outstand_sum', 'avg_3m_money_transactions', 'transaction_category_supermarket_sum_cnt_m3_4', 'hdb_bki_total_cnt', 'blacklist_flag', 'bki_total_oth_cnt', 'hdb_relend_outstand_sum', 'total_rur_amt_cm_avg', 'mob_cover_days', 'label_Below_50k_share_r1', 'transaction_category_cash_percent_amt_2m', 'curr_rur_amt_3m_avg', 'turn_cur_db_7avg_avg_v2', 'amount_by_category_90d__summarur_amt__sum__cashflowcategory_name__vydacha_nalichnyh_v_bankomate', 'profit_income_out_rur_amt_12m', 'avg_6m_hotels', 'hdb_ovrd_sum', 'smsInWavg6m', 'avg_fdep_db_turn', 'device_iphone_avg', 'by_category__amount__sum__eoperation_type_name__platezh_za_mobilnyj_cherez_ps', 'curr_rur_amt_cm_avg_period_days_ago_v2', 'hdb_bki_total_ip_cnt', 'hdb_bki_active_cc_max_outstand', 'hdb_other_outstand_sum', 'days_to_last_transaction', 'hdb_bki_total_pil_max_overdue', 'vert_pil_last_credit_step_screen_view_3m', 'acard', 'bki_total_il_max_limit', 'other_credits_count', 'tz_msk_timedelta', 'profit_income_out_rur_amt_9m', 'avg_by_category__amount__sum__cashflowcategory_name__odezhda', 'dda_rur_amt_3m_avg', 'winback_cnt', 'salary_median_in_gex_r1', 'avg_amount_daily_transactions_90d', 'vert_has_app_ru_tinkoff_investing', 'transaction_category_supermarket_inc_cnt_2m', 'vert_pil_sms_success_3m', 'label_500k_to_1M_share_r1', 'bki_total_products', 'avg_6m_all', 'summarur_1m_purch', 'diff_avg_cr_db_turn', 'by_category__amount__sum__eoperation_type_name__perevod_mezhdu_svoimi_schetami', 'bki_active_auto_cnt', 'turn_other_cr_avg_act_v2', 'cntVoiceOutMob6m', 'loanacc_rur_amt_cm_avg', 'transaction_category_supermarket_sum_cnt_m2', 'transaction_category_supermarket_sum_amt_d15', 'avg_fdep_cr_turn', 'bki_total_max_limit', 'turn_other_cr_sum_v2', 'client_active_flag', 'avg_by_category__amount__sum__cashflowcategory_name__produkty', 'curr_rur_amt_cm_avg_inc_v2', 'nonresident_flag', 'avg_by_category__amount__sum__cashflowcategory_name__kosmetika', 'vert_has_app_ru_vtb_invest', 'days_after_last_request', 'cntRegionTripsWavg1m', 'vert_has_app_ru_cian_main', 'loanacc_rur_amt_curr_v2', 'avg_3m_no_cat', 'vert_ghost_close_dpay3_last_days', 'vert_has_app_ru_raiffeisennews', 'bki_total_active_products', 'vert_pil_loan_application_success_3m', 'vert_pil_fee_discount_change_3m', 'businessTelSubs', 'profit_income_out_rur_amt_l2m', 'avg_3m_healthcare_services', 'ovrd_sum', 'hdb_bki_total_active_products', 'hdb_bki_total_micro_cnt', 'hdb_bki_active_pil_cnt', 'mob_total_sessions', 'hdb_bki_total_cc_max_overdue', 'lifetimeComp', 'hdb_bki_total_pil_last_days', 'amount_by_category_90d__summarur_amt__sum__cashflowcategory_name__elektronnye_dengi', 'hdb_bki_active_pil_max_limit', 'avg_6m_restaurants', 'hdb_bki_total_pil_cnt', 'transaction_category_fastfood_percent_cnt_2m', 'hdb_bki_total_pil_max_del90', 'accountsalary_out_flag', 'cntBlockWavg6m', 'express_rur_amt_cm_avg', 'loanacc_rur_amt_cm_avg_inc_v2', 'hdb_bki_last_product_days', 'cred_dda_rur_amt_3m_avg', 'avg_3m_all', 'hdb_other_active_max_psk', 'total_sum', 'avg_6m_travel', 'avg_6m_government_services', 'hdb_bki_active_cc_max_overdue', 'total_rur_amt_cm_avg_period_days_ago_v2', 'label_Above_1M_share_r1', 'transaction_category_supermarket_sum_cnt_d15', 'w']
Datetime Columns (0): []
Boolean Columns (0): []
Other Columns (0): []

==================================================

In [19]:
# One-Hot_encoding

# from sklearn.preprocessing import OneHotEncoder

def one_hot_encode_sklearn(df, columns_to_encode):
    """
    Perform one-hot encoding using scikit-learn OneHotEncoder
    
    Parameters:
    df: pandas DataFrame
    columns_to_encode: list of columns to one-hot encode
    
    Returns:
    DataFrame with one-hot encoded columns
    """
    df_encoded = df.copy()
    
    # Initialize the encoder
    encoder = OneHotEncoder(sparse_output=False, 
                          drop='first',  # Optional: avoid multicollinearity
                          handle_unknown='ignore')  # Handle unseen categories
    
    # Apply one-hot encoding to specified columns
    for col in columns_to_encode:
        if col in df_encoded.columns:
            # Fit and transform the column
            encoded_array = encoder.fit_transform(df_encoded[[col]])
            
            # Get feature names
            feature_names = encoder.get_feature_names_out([col])
            
            # Create DataFrame with encoded features
            encoded_df = pd.DataFrame(encoded_array, 
                                    columns=feature_names, 
                                    index=df_encoded.index)
            
            # Drop original column and add encoded ones
            df_encoded = df_encoded.drop(col, axis=1)
            df_encoded = pd.concat([df_encoded, encoded_df], axis=1)
    
    return df_encoded


df_encoded = one_hot_encode_sklearn(df, column_types['categorical'])
df_encoded

,id,target,turn_cur_cr_avg_act_v2,hdb_bki_total_max_limit,hdb_bki_total_cc_max_limit,incomeValue,avg_cur_cr_turn,turn_cur_cr_avg_v2,turn_cur_cr_max_v2,hdb_bki_total_pil_max_limit,...,addrref_Удмуртская Республика,addrref_Ульяновская область,addrref_Хабаровский край,addrref_Ханты-Мансийский автономный окр.,addrref_Челябинская область,addrref_Чувашская Республика - Чувашия,addrref_Ярославская область,addrref_г. Москва,addrref_г. Санкт - Петербург,addrref_nan
0,2,109324.476325,1465144.960,52800.0,23213.0,97366.0,124649.0,122095.413333,114798.72,52800.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,4,25558.028662,303593.660,260200.0,10000.0,32580.0,63653.0,75898.415000,260200.00,260200.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,5,40666.753098,490754.010,2000000.0,90000.0,96866.0,404545.0,122688.502500,265000.00,100000.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,6,43856.672058,219875.120,75000.0,75000.0,43860.0,39988.0,18322.926667,23000.00,29760.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,7,130420.851992,1750241.845,1000000.0,240000.0,83815.0,202439.0,291706.974167,415000.00,1000000.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
76781,149993,68976.691400,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
76782,149994,50768.829700,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
76783,149996,30613.920000,432098.090,140000.0,140000.0,153541.0,43428.0,36008.174167,29082.75,100000.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
76784,149998,81547.761138,3485.000,19500.0,0.0,118742.0,1162.0,290.416667,3483.00,19500.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
76785,149999,40895.240000,550005.130,300000.0,300000.0,44882.0,65682.0,45833.760833,62725.00,163000.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [21]:
# Замена NaN на 0
df_encoded.fillna(0, inplace=True)
df_encoded

,id,target,turn_cur_cr_avg_act_v2,hdb_bki_total_max_limit,hdb_bki_total_cc_max_limit,incomeValue,avg_cur_cr_turn,turn_cur_cr_avg_v2,turn_cur_cr_max_v2,hdb_bki_total_pil_max_limit,...,addrref_Удмуртская Республика,addrref_Ульяновская область,addrref_Хабаровский край,addrref_Ханты-Мансийский автономный окр.,addrref_Челябинская область,addrref_Чувашская Республика - Чувашия,addrref_Ярославская область,addrref_г. Москва,addrref_г. Санкт - Петербург,addrref_nan
0,2,109324.476325,1465144.960,52800.0,23213.0,97366.0,124649.0,122095.413333,114798.72,52800.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,4,25558.028662,303593.660,260200.0,10000.0,32580.0,63653.0,75898.415000,260200.00,260200.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,5,40666.753098,490754.010,2000000.0,90000.0,96866.0,404545.0,122688.502500,265000.00,100000.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,6,43856.672058,219875.120,75000.0,75000.0,43860.0,39988.0,18322.926667,23000.00,29760.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,7,130420.851992,1750241.845,1000000.0,240000.0,83815.0,202439.0,291706.974167,415000.00,1000000.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
76781,149993,68976.691400,0.000,0.0,0.0,0.0,0.0,0.000000,0.00,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
76782,149994,50768.829700,0.000,0.0,0.0,0.0,0.0,0.000000,0.00,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
76783,149996,30613.920000,432098.090,140000.0,140000.0,153541.0,43428.0,36008.174167,29082.75,100000.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
76784,149998,81547.761138,3485.000,19500.0,0.0,118742.0,1162.0,290.416667,3483.00,19500.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
76785,149999,40895.240000,550005.130,300000.0,300000.0,44882.0,65682.0,45833.760833,62725.00,163000.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [ ]:
# 76786 rows × 411 columns  -  вот что выходит с файлом train